# Rofi Config

# Main window
width = 400  
height = 600
force_window = false
corner_radius = "20"
font = "/home/nhefner/.fonts/JetBrains Mono Medium Nerd Font Complete.ttf"
font_size = 20
font_color = 0xffffffff
bg_color = 0x000000ff
bg_border_color = 0xffffffff
bg_border_width = 2.0
term = "kitty"

# Input box
[input_text]
font_color = 0x000000ff
bg_color = 0xffffffff
margin = "10"
padding = "4"

# Application list
[list_items]
font_color = 0xffffffff
selected_font_color = 0x00ff00ff
match_color = 0x00ff00ff
margin = "5 20"
hide_actions = true
action_left_margin = 60
item_spacing = 2
icon_spacing = 12

# Icons
[icon]
size = 16
theme = "Adwaita"
fallback_icon_path = "/usr/share/icons/Adwaita/16x16/categories/applications-engineering-symbolic.symbolic.png"
