# Rofi Config

# Main window
width = 400  
height = 600
force_window = false
corner_radius = "20"
font = "/home/nhefner/.fonts/JetBrains Mono Medium Nerd Font Complete.ttf"
font_size = 20
font_color = 0xcad3f5ff
bg_color = 0x24273aff
bg_border_color = 0xa6da95ff
bg_border_width = 2.0
term = "kitty"

# Input box
[input_text]
font_color = 0xcad3f5ff
bg_color = 0x5b6078ff
margin = "10"
padding = "6"

# Application list
[list_items]
font_color = 0xcad3f5ff
selected_font_color = 0xa6da95ff
match_color = 0xa6da95ff
margin = "0 24"
hide_actions = true
action_left_margin = 60
item_spacing = 4
icon_spacing = 12

# Icons
[icon]
size = 16
theme = "Adwaita"
fallback_icon_path = "/usr/share/icons/Adwaita/16x16/categories/applications-engineering-symbolic.symbolic.png"
